.home_compo{
    background-image: url(../../images/Bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
.home_detail{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

