.service{
    background-color: #4d4848;
    padding: 15px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 10px;
}
.service img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
.service h3{
    color: white;
    text-align: center;
    margin: 10px;
}
